<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRATION</title>
</head>
<body>
    <h2>Hello! please fill in the following to register</h2>
    <form method = 'POST' action= "">
        {% csrf_token%}
        {{form.as_p}}
        <p><button class ="btn btn-primary" type = "submit" floatformat="float-right">submit</button></p>
        <p><button class ="btn btn-primary" ><a href= "{% url 'loginpageurl' %}">Login?</button></p>
      </form>                               
</body>
</html>